<h2 class="login-title">Acount Activated</h2>
<div>
    <p class="login-title">
        Thank you for confirming your email. Please @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "login-title" })
    </p>
</div>
