@using FMS.HtmlHelpers
@using FMS.Models
@using Microsoft.AspNet.Identity

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
    <span>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    &nbsp;&nbsp;<a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off fa-lg"></i> &nbsp;Log off</a>
</span>
        }
    }
    else if (User.HasLevel(UserLevel.SystemAdmin))
    {
        <span>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) &nbsp;&nbsp;@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </span>
    }
