@model IEnumerable<FMS.Models.StorageOffice>

@{
    ViewBag.Title = "Reports";
}

<div class="title">
    @ViewBag.Title
</div>

<ul>
    <li><a href="~/Reports/StorageOffice">Storage Offices</a></li>
    <li><a href="~/Reports/FlourMill">Flour Mills</a></li>
    <li><a href="~/Reports/Depots">Depots</a></li>
    <li><a href="~/Reports/District">Districts</a></li>
</ul>
